html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul,
menu,
dir {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}


/* div {
    border: 1px solid Chocolate;
} */


/* Navigation Section */

.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}

img {
    margin-top: 1em;
}

.content {
    padding: 0px 15px;
}

.top-navigation .links {
    float: right;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    /*text-decoration: none; */
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}

.top-navigation .links a {
    text-decoration: none;
    color: #00A47D;
    font-weight: 500;
    /* #838994; */
}

.top-navigation .links a:hover {
    color: black;
    cursor: pointer;
}

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.introduction h1,
.introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;
}

.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
}

.introduction h3 {
    margin-top: 1.23rem;
    font-size: 1.563rem;
}

.introduction .buttons {
    color: white;
    text-align: center;
    margin-top: 1.563rem;
}

.buttons button {
    width: 9.688rem;
    background-color: #00A47D;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

.buttons button:hover {
    background-color: #29F1C1;
}

.icon-content {
    /*text-align: center; */
    overflow: hidden;
    padding-bottom: 5rem;
}

.icon-content .content {
    margin-top: 7.875rem;
    color: #1d1e21;
    text-align: center;
}

.icon-content h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

ul {
    list-style: none;
}

.icon-content .icon-list > li {
    /*text-decoration: none;
    display: inline-block;
    padding: 0 7rem; */
    width: 33.33333%;
    float: left;
}

.icon-content .icon-image {
    height: 127px;
    width: 127px;
}

.icon-content .icon-list h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

hr {
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #eaebec;
    margin: 1.313rem 0px;
}

.social .social-icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
}

.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #4c66a4;
}

.social .instagram {
    color: #3f729b;
}
